@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: #f5f5fd;
    margin: 0;
    font-size: .875rem;
}

p{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
    
}

.alert{
    border: none;
}

.linha-black{
    max-width: 50px;
    margin: 0px;
    margin-bottom: 1em;
    border: solid 3px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0,0,0);
    border-radius: 15px;
    opacity: 100%;
}

.dash-icons {
    color: black;
}

label{
    color: black;
}


/*menu*/
.navbar{
    font-weight: 300;
    background-color: #fff;
    z-index: 1000;
    
}


.navbar-expand-lg .navbar-nav .nav-link {
    color: black;
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 700;
}

.nav-item:hover{
    background-color: #fff;
    border-radius: 10px;
}



/*footer*/
.footer{
    background-color: #0e0e10;
    color: white;
}

/*nova dashboard*/
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 45px 10px 0; /* Height of navbar */
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }


/*old dashboard*/


.area-dashboard{
    color: black;
}

.card-dashboard{
    background-color: #fff;
    border-radius: 20px;
    padding: 2em;
    color: black;
}

.bg-web{
    background-color: #0e0e10;
    color: white;
    font-weight: 300;
}

.username-dashboard{
    text-transform: capitalize;
    color: black;
    font-weight: 700;
}

.link-dash{
    background-color: #ececf6;
    padding: 1em;
    border-radius: 10px;
}
.link-dash:hover{
    background-color: white;
}
.link-dash-a{
    color: black;
}
.link-dash-a:hover{
    text-decoration: none;
    color: black;
}

/*criar anuncio*/
.back-forms{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}

.btn-anunciar{
    background-color: #18181b;
    font-weight: 300;
    border-radius: 10px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    
    
}
.btn-anunciar:hover{
    background-color: #1f1f23;
    color: white;
}

.form-control{
    border-radius: 10px;
    background-color: #fff;
    color: black;
    
}


/*login*/
.area-login{
    display: grid;
    place-items: center;
    margin: 0;
    max-height: 100%;
    height: 650px;
    
}

.box-login{
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    max-width: 100%;
    width: 350px;
}

.btn-login{
    background-color: #0e0e10;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
.btn-login:hover{
    background-color: #18181b;
    color: white;
}

/*perfil*/
.area-perfil{
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}

.area-capa{
    background-image: url(../img/perfil/capa.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: white;
    height: 200px;
    padding: 2em;
    text-transform: uppercase;
    font-weight: 700;
}

.area-foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-perfil{
    max-width: 100%;
    width: 150px;
    border-radius: 50%;
}

.bio{
    font-weight: 300;
    text-transform: capitalize;
}

.btn-perfil{
    border-radius: 10px;
    font-weight: 300;
    background-color: #0e0e10;
    color: #fff;
    font-size: 16px;
}
.btn-perfil:hover{
    background-color: #18181b;
    color: #fff;
}

.card-meus-anuncios{
    background-color: #f5f5fd;
    border-radius: 10px;
    border: none;
}

.btn-dropdown-perfil{
    background-color: transparent;
    color: black;
    border: 0;
}


/*usuario page*/
.btn-search{
    background-color: transparent;
    color: black;
    
}
.btn-search:hover{
    color: #18181b;
}

.table{
    background-color: #fff;
    color: black;
    font-size: 16px;
    
}

#email-table{
    text-transform: lowercase;
}

/*painel*/
.btn-card{
    background-color: #0e0e10;
    color: white;
    font-weight: 300;
    border-radius: 10px;
    font-size: 16px;
}
.btn-card:hover{
    background-color: #18181b;
    color: whitesmoke;
}
.card-anun{
    background-color: #fff;
    border-radius: 20px;
    color: black;
    border: none;
    text-transform: capitalize;
}

.card-img-top{
    max-width: 100%;
    width: auto;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.area-card-painel{
    padding: 1em;
    display: grid;
    place-items: center;
}

/*cadastrar usuario*/
.btn-cadastrar{
    background-color: #0e0e10;
    font-weight: 300;
    border-radius: 10px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    
    
}
.btn-cadastrar:hover{
    background-color: #18181b;
    color: white;
}

.background-form-cad{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}

/*reset password*/
.back-reset-password{
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
}

/*area anuncio*/
.area-cont-anuncio{
    background-color: white;
    border-radius: 10px;
    padding: 2em;
}

.btn-wpp{
    background-color: #25d366;
    color: white;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
}
.btn-wpp:hover{
    color: whitesmoke;
    background-color: #1fb456;
}

.btn-telefone{
    background-color: #f5f5fd;
    border-radius: 10px;
    font-size: 16px;
}
.btn-telefone:hover{
    cursor: default!important;
}

.area-fachada{
    max-width: 100%;
}
.img-fachada{
    max-width: 100%;
    border-radius: 10px;
}
.img-comodo{
    border-radius: 10px;
}